@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-size: 14px;
  line-height: 22px;
  color: #121316;
}

ol:not([class]) {
  list-style-type: decimal;
  margin-left: 20px;
}

ul:not([class]) {
  list-style-type: disc; /* This will show bullets */
  margin-left: 20px;     /* Adjust margin as needed */
}

li:not([class]) {
  margin: 5px 0;
}

.ant-input::placeholder {
  font-weight: 300 !important;
}

.ant-form-item-explain {
  font-size: 12px !important;
}

.ant-form-item-explain-error {
  margin-bottom: 16px !important;
}

u {
  text-underline-offset: 4px !important;
}
