@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-size: 14px;
  line-height: 22px;
  color: #121316;
}

.ant-input::placeholder {
  font-weight: 300 !important;
}

.ant-form-item-explain {
  font-size: 12px !important;
}

.ant-form-item-explain-error {
  margin-bottom: 16px !important;
}

u {
  text-underline-offset: 4px !important;
}
